<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
    <div class="container">
    <nav class="navbar navbar-expand-md nav-dark bg-info">
        <a class="navbar-brand " href="/">Blogly</a>
        <ul class="navbar-nav btn btn-info">
            <li class="nav-item">
                <a class=:nav-link" href="/users">Users</a>
            </li>
        </ul>
        <ul class="navbar-nav btn btn-info">
            <li class="nav-item">
                <a class=:nav-link" href="/users/new">Add User</a>
            </li>
        </ul>
        <ul class="navbar-nav btn btn-info">
            <li class="nav-item">
                <a class=:nav-link" href="/tags">Tags</a>
            </li>
        </ul>
        <ul class="navbar-nav btn btn-info">
            <li class="nav-item">
                <a class=:nav-link" href="/tags/new">Add Tag</a>
            </li>
        </ul>
    </nav>
    </div>
</head>
<body>
    <div class="container">
    {% block content %}
    BODY CONTENT GOES HERE
    {% endblock %}
    </div>
</body>
</html>
